<!DOCTYPE html>
<html>
<head>
	<title> {{ cisterna }}</title>
    <script type="text/javascript" src="//pubnub.github.io/eon/v/eon/1.0.0/eon.js"></script>
    <link type="text/css" rel="stylesheet" href="//pubnub.github.io/eon/v/eon/1.0.0/eon.css"/>
</head>
<body>

<h1>Detalhes da {{ cisterna }}</h1> 


<div class="gauge" id="rt_gauge"></div>
<div id="rt_plot"></div>

<a href="{% url 'cisternas:list' %}">voltar</a>

<h3>Lista de medidas</h3>

<ul>
{% for medicao in medicoes_list %}
  <li>
    {{ medicao }}
  </li>

{% endfor %}
</ul>


</body>


<script type="text/javascript">
    //para ter acesso aos dados da cisterna no javascript da página (não está funcionando)
    // var __capacidade = cisterna.capacidade;
    //console.log("cisterna");
    // var __cisterna = 
    // console.log({{cisterna}});
    //var __cisterna = '{{ cis_ser|escapejs }}';


    var __eon_pubnub = new PubNub({
        subscribeKey: "sub-c-6e52b6c2-8e6b-11e8-b7a4-ce74daf54d52"
    });

    gauge_chart = eon.chart({
        pubnub: __eon_pubnub,
        channels: ["dados_cisterna1"],
        history: true,
        generate: {
            bindto: '#rt_gauge',
            data: {
                columns: [
                    ['litros']
                ],
                type: 'gauge',
                // colors: {"litros":"#407fe5"},
            },
            gauge: {
                label: {
                    format: function(value, ratio) {
                            // console.log(value);
                            // console.log(value.toString());
                            return value;
                    },
                    show: true // to turn off the min/max labels.
                },
                min: 0,
                max: 2500,
                units: ' litros',
                width: 39, // for adjusting arc thickness
            },
            color: {
                pattern: ['#FF0000', '#F6C600', '#60B044'],
                threshold: {
                  values: [625, 1300, 2000]
                }
            },
            size: {
                height: 150
            }
        },
        // debug: true
    });


    var __eon_cols = ["litros"];
    var __eon_labels = {};

    plot_chart = eon.chart({
        pubnub: __eon_pubnub,
        channels: ["dados_cisterna1"],
        history: true,
        flow: true,
        rate: 1000,
        limit: 5,
        generate: {
            bindto: "#rt_plot",
            data: {
                colors: {"time_stamp":"#D70060","litros":"#407fe5"},
                type: "area"
            },
            transition: {
                duration: 250
            },
            axis: {
                x: {
                    // type: 'timeseries',
                    // localtime: true,
                    // tick: {
                    //     format: '%d-%m-%Y %H:%M:%S'
                    // }
                    label: "time_stamp"
                },
                y: {
                    label: "litros"
                }
            },
            grid: {
                x: {
                    show: true 
                },
                y: {
                    show: true 
                }
            },
            tooltip: {
                show: true
            },
            point: {
                show: true
            }
        },
        transform: function(message) {
            var message = eon.c.flatten(message.eon);
            var o = {};
            for(index in message) {
                if(__eon_cols.indexOf(index) > -1){
                    o[__eon_labels[index] || index] = message[index];
                }
            }
            return {
                eon: o
            };
        }
    });
</script>


<style lang="scss">
/*
.gauge {
    font-size: small;
}

.c3-legend-item-event {
    font-size: 20px;
}
*/
.c3-gauge-value {
    font-size: 15px;
    opacity: 0.5;
}

</style>


</html>